:root {
	--theme-color-lm: #f02eaa;
	--theme-color-dm: #41d6d6;

	--theme-color-secondary-lm: #f5576c;
	--theme-color-secondary-dm: #0cebeb;

	--theme-color-low-lm: #e075b9;
	--theme-color-low-dm: #77c9c9;

	--background-lm: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	--background-dm: linear-gradient(45deg, #363636, #363636);

	--background-fallback-lm: #f5576c;
	--background-fallback-dm: #0e153a;

	--gradient-button-lm: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	--gradient-button-dm: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);

	--gradient-button-180deg-lm: linear-gradient(
		180deg,
		#eba6f3 0%,
		#c47cd6 120%
	);
	--gradient-button-180deg-dm: linear-gradient(
		180deg,
		#34d3f7 0%,
		#5794e9 120%
	);

	--dropdown-box-shadow-lm: rgba(179, 77, 148, 0.4) 5px 5px,
		rgba(179, 77, 148, 0.3) 10px 10px, rgba(179, 77, 148, 0.2) 15px 15px,
		rgba(179, 77, 148, 0.1) 20px 20px, rgba(179, 77, 148, 0.05) 25px 25px;

	--dropdown-box-shadow-dm: #45adad86 5px 5px, #3ca5a57c 10px 10px,
		#3d929271 15px 15px, #48a5a53a 20px 20px, #3e8d8d3d 25px 25px;

	--volume-slider-lm: #e9d3e1;
	--volume-slider-dm: #b7b6bd;

	--container-bg-dm: #414141;
	--container-bg-lm: #ffffff;

	--input-bg-lm: #ebebeb;
	--input-bg-dm: #616161;

	--text-lm: #303a52;
	--text-dm: #ffffff;

	--tab-content-background-lm: #eeeeee;
	--tab-content-background-dm: #4d4e50;

	--header-background-dm: #4d4e50;
	--header-background-lm: #ffffff;

	--tab-background-dm: #3b3b3b;
	--tab-background-lm: #e2e2e2;

	--tab-background-hover-lm: #d4d4d4;
	--tab-background-hover-dm: #4b4b4b;
}

.light {
	--theme-color: var(--theme-color-lm);
	--theme-color-secondary: var(--theme-color-secondary-lm);
	--theme-color-low: var(--theme-color-low-lm);
	--background: var(--background-lm);
	--background-fallback: var(--background-fallback-lm);
	--input-bg: var(--input-bg-lm);
	--container-bg: var(--container-bg-lm);
	--text: var(--text-lm);
	--gradient-button: var(--gradient-button-lm);
	--gradient-button-180deg: var(--gradient-button-180deg-lm);
	--dropdown-box-shadow: var(--dropdown-box-shadow-lm);
	--volume-slider: var(--volume-slider-lm);
	--tab-content-background: var(--tab-content-background-lm);
	--header-background: var(--header-background-lm);
	--tab-background: var(--tab-background-lm);
	--tab-background-hover: var(--tab-background-hover-lm);
}

.dark {
	--theme-color: var(--theme-color-dm);
	--theme-color-secondary: var(--theme-color-secondary-dm);
	--theme-color-low: var(--theme-color-low-dm);
	--background: var(--background-dm);
	--background-fallback: var(--background-fallback-dm);
	--input-bg: var(--input-bg-dm);
	--container-bg: var(--container-bg-dm);
	--text: var(--text-dm);
	--gradient-button: var(--gradient-button-dm);
	--gradient-button-180deg: var(--gradient-button-180deg-dm);
	--dropdown-box-shadow: var(--dropdown-box-shadow-dm);
	--volume-slider: var(--volume-slider-dm);
	--tab-content-background: var(--tab-content-background-dm);
	--header-background: var(--header-background-dm);
	--tab-background: var(--tab-background-dm);
	--tab-background-hover: var(--tab-background-hover-dm);
}

%flex-complete-center-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

%flex-complete-center-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

%video-page-button {
	background-color: var(--theme-color-secondary);
	color: #ffffff;
	background-image: var(--gradient-button-180deg);
	text-transform: uppercase;
	font-weight: 600;

	&:disabled {
		background-image: linear-gradient(180deg, #5e5e5e 0%, #585858 120%);
	}
}

%video-page-input {
	text-size-adjust: 100%;
	box-sizing: inherit;
	outline: none;
	margin: 0;
	border: none;
	font-family: inherit;
	line-height: 35px;
	background: var(--input-bg);
	color: var(--text);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	padding: 0 15px;
	flex-grow: 1;

	&::placeholder {
		color: var(--text);
	}
}

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: var(--background);
	background-color: var(--background-fallback);
}

button {
	cursor: pointer;
	border-radius: 5px;
}

button,
input {
	border: none;

	&:focus {
		outline: none;
	}
}

.header {
	background-color: var(--header-background);
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0 20px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

	.logo {
		width: 45px;
		cursor: pointer;
	}

	.settings-button {
		width: 30px;
		height: 30px;
		background-color: var(--theme-color);

		svg {
			vertical-align: middle;
			width: 20px;
		}
	}

	.dropdown {
		position: absolute;
		top: 65px;
		right: 20px;
		width: 300px;
		border-radius: 10px;
		padding: 15px;
		box-sizing: border-box;
		background-color: var(--header-background);
		border: 2px solid var(--theme-color);
		box-shadow: var(--dropdown-box-shadow);
		z-index: 2;
		animation: fadeIn ease 0.3s;

		h3 {
			color: var(--theme-color);
			font-size: 1.05em;
			&:not(:first-of-type) {
				margin-top: 15px;
			}
		}

		p {
			color: var(--text);
			font-size: 0.95em;
		}

		@keyframes fadeIn {
			0% {
				opacity: 0;
				top: 60px;
			}
			100% {
				opacity: 1;
				top: 65px;
			}
		}

		@keyframes fadeOut {
			0% {
				opacity: 1;
				top: 65px;
			}
			100% {
				opacity: 0;
				top: 60px;
			}
		}

		span {
			display: flex;
			align-items: center;
			margin-bottom: 5px;

			svg {
				margin-right: 5px;
				width: 22px;
			}
		}

		.volume-range-slider {
			-webkit-appearance: none;
			border-radius: 5px;
		}

		.volume-range-slider:focus {
			outline: none;
		}

		.volume-range-slider::-webkit-slider-runnable-track {
			background: var(--volume-slider);
			height: 5px;
			border-radius: 5px;
		}

		.volume-range-slider::-moz-range-track {
			background: var(--volume-slider);
			height: 5px;
			border-radius: 5px;
		}

		.volume-range-slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 12px;
			width: 12px;
			background: var(--theme-color);
			margin-top: -4px;
			border-radius: 50%;
			cursor: pointer;
		}

		.volume-range-slider::-moz-range-thumb {
			height: 15px;
			width: 15px;
			background: var(--theme-color);
			margin-top: -5px;
			border-radius: 50%;
		}
	}

	.roomName-code-container {
		@extend %flex-complete-center-row;
		margin-left: auto;
		margin-right: 10px;
		border-radius: 10px;

		button {
			width: 30px;
			height: 30px;
			margin-left: 10px;
			background-color: var(--theme-color);

			img {
				vertical-align: middle;
				width: 20px;
			}
		}

		input {
			height: 30px;
			padding: 0 10px;
			border-radius: 5px;
			border: 2px solid transparent;
			cursor: pointer;
			font-size: 0.9em;
			font-weight: 700;
			background-color: var(--theme-color-low);
			box-shadow: rgba(50, 50, 93, 0.05) 0px 30px 60px -5px inset,
				rgba(150, 150, 150, 0.18) 0px 18px 36px -8px inset;
			color: #ffffff;
			box-sizing: border-box;

			&:hover {
				border: 2px solid var(--theme-color);
			}
		}
	}

	.settings-option-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:last-of-type) {
			margin-bottom: 15px;
		}

		button {
			height: 30px;
			width: 95px;
			display: flex;

			span {
				flex-grow: 1;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				color: #303030;

				&.toggled {
					background-color: var(--theme-color);
					color: #ffffff;
				}
			}
		}
	}
}

.app-component {
	max-height: calc(100% - 70px);
	height: 100%;
}

.loading-screen {
	@extend %flex-complete-center-column;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-image: var(--background);
	background-color: var(--background-fallback);
	color: #ffffff;

	h1 {
		margin-bottom: 35px;
		font-size: 1.3em;
		text-align: center;

		span {
			margin-left: 5px;
		}
	}

	.loading-balls {
		width: 3.5em;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}

	.loading-balls div {
		width: 0.8em;
		height: 0.8em;
		border-radius: 50%;
		background-color: #ffffff;
		transform: translateY(-100%);
		animation: wave 0.8s ease-in-out alternate infinite;
	}

	.loading-balls div:nth-of-type(1) {
		animation-delay: -0.4s;
	}

	.loading-balls div:nth-of-type(2) {
		animation-delay: -0.2s;
	}

	@keyframes wave {
		from {
			transform: translateY(-100%);
		}
		to {
			transform: translateY(100%);
		}
	}
}
.redirecting-screen {
	@extend %flex-complete-center-column;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-image: var(--background);
	background-color: var(--background-fallback);
	color: #ffffff;

	h1 {
		font-size: 1.8em;
		margin-bottom: 10px;
	}

	.dots-container {
		width: 3em;
		height: 3em;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		align-items: center;

		> div {
			width: 0.5em;
			height: 0.5em;
			background-color: #ffffff;
			border-radius: 50%;
			animation: fade 1.5s alternate ease-in-out infinite;

			&:nth-of-type(2),
			&:nth-of-type(4) {
				animation-delay: 0.25s;
			}

			&:nth-of-type(3),
			&:nth-of-type(5),
			&:nth-of-type(7) {
				animation-delay: 0.5s;
			}

			&:nth-of-type(6),
			&:nth-of-type(8) {
				animation-delay: 0.75s;
			}

			&:nth-of-type(9) {
				animation-delay: 1s;
			}

			@keyframes fade {
				to {
					opacity: 0.2;
				}
			}
		}
	}
}

.join-page,
.video-room-page,
.not-found-page {
	@extend %flex-complete-center-column;
	height: 100%;
}

.video-room-page {
	height: calc(100% - 50px);
}

.video-room-page-tabs {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.tab {
		@extend %flex-complete-center-row;
		height: 100%;
		padding: 0 25px;
		background-color: var(--tab-background);
		color: var(--text);
		box-sizing: border-box;
		flex-grow: 1;
		border-radius: 0;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;

		&.active {
			border-bottom: 2px solid var(--theme-color-secondary);
		}

		svg {
			margin-right: 10px;
			width: 20px;
		}

		&:hover {
			background-color: var(--tab-background-hover);
		}
	}
}

.floating-action-button {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 10px;
	left: 10px;
	border-radius: 50%;
	background-color: #ffffff;

	svg {
		width: 30px;
		height: 30px;
	}
}

.not-found-page {
	color: #ffffff;
	text-align: center;

	h1 {
		font-size: 8em;
	}

	h3 {
		font-size: 1.8em;
	}

	p {
		font-size: 1.2em;
		margin-top: 10px;
	}

	button {
		background-color: #4158d0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-top: 20px;

		svg {
			vertical-align: middle;
		}
	}
}

.join-page {
	.join-form-container {
		max-width: 450px;
		width: 95%;
		background-color: var(--container-bg);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		padding: 50px 40px;
		box-sizing: border-box;
		border-radius: 10px;
		position: relative;

		form {
			justify-content: center;
			display: flex;
			flex-direction: column;
			height: 100%;
			line-height: normal;

			label {
				color: var(--text);
			}

			input {
				background-color: var(--input-bg);
				color: var(--text);
				height: 30px;
				border-radius: 2px;
				margin-top: 2px;
				padding: 0 10px;
				border-bottom: 2px solid transparent;

				&:not(:last-of-type) {
					margin-bottom: 10px;
				}

				&:focus {
					border-bottom: 2px solid var(--theme-color-secondary);
				}
			}

			.generate-random-roomName-button {
				padding: 8px;
				background-color: transparent;
				color: #ec3160;
				font-size: 0.95em;
				margin-bottom: 15px;
				border: 1px solid#ec3160;

				&:hover {
					background-color: #ec3160;
					color: #ffffff;
				}
			}

			.join-button {
				margin-top: 15px;
				padding: 10px;
				background-image: var(--gradient-button);
				color: #ffffff;
				font-size: 0.95em;
			}
		}
	}
}

.video-and-current-tab-container {
	@extend %flex-complete-center-row;
	max-height: 100%;
	height: 100%;
	width: 100%;
}

.video-and-input-container {
	background-color: var(--container-bg);
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;

	&[data-chatishidden='true'] {
		border-radius: 10px 10px 10px 10px;
	}

	input {
		@extend %video-page-input;
	}

	button {
		@extend %video-page-button;
		height: 35px;
		width: 180px;
		padding: 0 20px;
		margin-left: 10px;
	}
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive iframe,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.change-video-input-container {
	justify-content: space-between;
	margin-top: 10px;
	display: flex;
}

.users-list-container {
	height: 180px;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	background-color: var(--tab-content-background);
	border-radius: 5px;

	h3 {
		color: #ffffff;
		background-color: #23da90;
		padding: 4px 10px;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 1em;
		text-align: center;

		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
			inset 0 -2px 3px #1ebd7d, 0 1px 1px #11704a;
	}

	ul {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
		max-height: calc(100% - 40px);
		width: 100%;
		margin-top: 10px;

		&::-webkit-scrollbar {
			width: 4px;
			background-color: #e0e0e0;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--theme-color);
			background-image: var(--gradient-button-180deg);
			border-radius: 5px;
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: 5px;
		color: var(--text);
		box-sizing: border-box;

		&:not(:first-of-type) {
			&:hover {
				background-color: #31313134;
				cursor: pointer;
				border-radius: 5px;
			}
		}

		&:not(:last-of-type) {
			margin-bottom: 5px;
		}

		&[data-isadmin='true'] {
			color: #f5587b;
			font-weight: 700;
		}

		h4 {
			margin-right: 4px;
			font-weight: 700;
		}

		svg {
			margin-right: 3px;
			width: 20px;
			vertical-align: middle;
		}
	}
}

.current-tab-component {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 15px 10px;
	min-width: 200px;
	max-width: 300px;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--container-bg);

	h2 {
		color: var(--text);
		margin-bottom: 5px;
	}

	.close-button {
		display: none;
	}
}

.chat-tab {
	.messages-and-input-container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.messages-container {
		flex-grow: 1;
		border-radius: 5px;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: var(--tab-content-background);
		padding: 10px;
		height: 100%;
		box-sizing: border-box;
		scroll-behavior: smooth;
		position: relative;

		&::-webkit-scrollbar {
			width: 4px;
			background-color: #e0e0e0;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--theme-color);
			background-image: var(--gradient-button-180deg);
			border-radius: 5px;
		}
	}

	.new-messages-alert {
		@extend %flex-complete-center-row;
		background-color: #22eaaa;
		color: #ffffff;
		width: 100%;
		position: relative;
		bottom: 0;
		left: 0;
		padding: 6px 0;
		box-sizing: border-box;
		border-radius: 0 0 5px 5px;
		text-align: center;
		font-weight: 600;
		cursor: pointer;

		img {
			margin-left: 10px;
			width: 26px;
		}
	}

	.send-message-input-container {
		display: flex;
		width: 100%;
		margin-top: 10px;

		input {
			@extend %video-page-input;
		}

		button {
			@extend %video-page-button;
			padding: 10px 20px;
			margin-left: 10px;
		}
	}

	.message {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
		white-space: normal;
		word-wrap: break-word;
		color: var(--text);
		font-size: 1em;
		box-sizing: border-box;

		.message-author {
			margin-right: 5px;
			color: #17b978;

			&[data-you='true'] {
				color: #ff5959;
			}
		}
	}

	%SERVER_MESSAGE {
		display: block;
		font-weight: 600;
		border-radius: 5px;
		font-size: 1em;
		margin: 10px 0;

		&:first-of-type {
			margin-top: 0;
		}
	}

	.SERVER_USER-JOINED {
		@extend %SERVER_MESSAGE;
		color: #23da90;
		background-color: #41e0a152;
	}

	.SERVER_USER-LEFT {
		@extend %SERVER_MESSAGE;
		color: #833c34;
		background-color: #f58c7e;
	}

	.NEW_HOST {
		@extend %SERVER_MESSAGE;
		color: #ffffff;
		background-color: #ec570d;
	}
}

.playlist-tab {
	padding-right: 20px;
	box-sizing: border-box;
}

.add-to-playlist-input-container {
	width: 100%;

	input {
		@extend %video-page-input;
		box-sizing: border-box;
		width: 100%;
	}

	button {
		@extend %video-page-button;
		height: 35px;
		width: 100%;
		margin: 10px 0;
	}
}

.video-playlist {
	border-radius: 5px;
	overflow-y: auto;
	background-color: var(--tab-content-background);
	height: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;

	li {
		width: 100%;
		padding: 10px;
		background-color: var(--tab-content-background);
		box-sizing: border-box;
		border-radius: 10px;
		position: relative;

		img {
			width: 100%;
			border-radius: 5px;
			border: 2px solid var(--theme-color-low);
		}

		h3 {
			font-size: 1em;
			margin-top: 5px;
			color: var(--text);
		}

		span {
			display: flex;
			justify-content: flex-end;
			position: absolute;
			top: 20px;
			left: 20px;
		}

		button {
			width: 30px;
			height: 30px;
			background-color: var(--theme-color);

			svg {
				width: 20px;
				vertical-align: middle;
			}

			&:first-of-type {
				margin-right: 10px;

				svg {
					width: 15px;
				}
			}
		}

		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	&::-webkit-scrollbar {
		width: 4px;
		background-color: #e0e0e0;
		border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--theme-color);
		background-image: var(--gradient-button-180deg);
		border-radius: 5px;
	}
}

.room-settings-tab {
	> ul li {
		display: flex;
		flex-direction: column;

		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	label {
		color: var(--text);
	}

	input {
		@extend %video-page-input;
	}

	.save-button {
		@extend %video-page-button;
		margin-top: 20px;
		padding: 10px 0;
	}

	.user-actions-modal-container {
		@extend %flex-complete-center-row;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #00000067;

		.modal {
			@extend %flex-complete-center-column;
			width: 350px;
			max-width: 95%;
			height: 160px;
			background-color: var(--container-bg);
			border-radius: 5px;
			position: relative;

			.close-button {
				position: absolute;
				top: 10px;
				right: 10px;
				display: block;
				font-size: 1.8em;
				color: var(--text);
				background-color: transparent;
				line-height: 20px;
			}

			button:not(.close-button) {
				padding: 5px 15px;
				color: #ffffff;
				width: 200px;
			}

			button:nth-child(2) {
				background-color: #05c46b;
				margin-bottom: 10px;
			}

			button:nth-child(3) {
				background-color: #ff5e57;
			}
		}
	}
}

@media screen and (max-width: 1025px) and (orientation: portrait) {
	.video-and-current-tab-container {
		flex-direction: column;
	}

	.chat-tab {
		.messages-and-input-container {
			width: 100%;
			max-width: 100%;
			flex: 1;
		}
	}

	.video-and-input-container {
		border-radius: 0;
		padding: 10px;
	}

	.current-tab-component {
		height: 100%;
		max-width: 100%;
		max-height: 40vh;
	}

	.playlist-tab,
	.room-settings-tab {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 100%;
		max-height: calc(100% - 120px);
		max-width: 320px;
		padding-right: 10px;

		.close-button {
			position: absolute;
			top: 4px;
			right: 15px;
			display: block;
			font-size: 2em;
			color: var(--text);
			background-color: transparent;
		}
	}
}

@media (max-width: 800px) {
	.messages-container {
		height: 100%;
		border-radius: 0;
	}
}

@media (max-width: 600px) {
	.video-and-input-container {
		padding: 0;
	}

	.send-message-input-container,
	.change-video-input-container {
		box-sizing: border-box;

		button {
			font-size: 0.7em;
		}
	}

	.send-message-input-container {
		margin-top: 0;
	}

	.change-video-input-container {
		flex-direction: column;
		padding: 0 5px;

		button {
			margin-left: 0;
			width: 100%;
			margin: 5px 0;
		}
	}
}

@media (max-width: 400px) {
	.roomName-code-input {
		display: none;
	}
}
