:root {
	--theme-color-lm: #f02eaa;
	--theme-color-dm: #41d6d6;

	--theme-color-secondary-lm: #d9519d;
	--theme-color-secondary-dm: #0cebeb;

	--theme-color-opacity-lm: #e075b9;
	--theme-color-opacity-dm: #77c9c9;

	--background-lm: linear-gradient(
		180deg,
		rgba(237, 135, 112, 1) 38%,
		rgba(217, 81, 157, 1) 100%
	);
	--background-dm: linear-gradient(45deg, #363636, #363636);
	--background-fallback-lm: #ed8770;
	--background-fallback-dm: #0e153a;

	--gradient-button-lm: linear-gradient(120deg, #fccb90 0%, #e088f7 100%);
	--gradient-button-dm: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);

	--gradient-button-180deg-lm: linear-gradient(
		180deg,
		#fccb90 0%,
		#e088f7 120%
	);
	--gradient-button-180deg-dm: linear-gradient(
		180deg,
		#34d3f7 0%,
		#5794e9 120%
	);

	--dropdown-box-shadow-lm: rgba(240, 46, 170, 0.4) 5px 5px,
		rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
		rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

	--dropdown-box-shadow-dm: #45adad86 5px 5px, #3ca5a57c 10px 10px,
		#3d929271 15px 15px, #48a5a53a 20px 20px, #3e8d8d3d 25px 25px;

	--volume-slider-lm: #e9d3e1;
	--volume-slider-dm: #b7b6bd;

	--container-bg-dm: #414141;
	--container-bg-lm: #ffffff;

	--input-bg-lm: #ebebeb;
	--input-bg-dm: #616161;

	--text-lm: #303a52;
	--text-dm: #ffffff;

	--chat-background-lm: #eeeeee;
	--chat-background-dm: #4d4e50;

	--header-background-dm: #4d4e50;
	--header-background-lm: #ffffff;
}

.light {
	--theme-color: var(--theme-color-lm);
	--theme-color-secondary: var(--theme-color-secondary-lm);
	--theme-color-opacity: var(--theme-color-opacity-lm);
	--background: var(--background-lm);
	--background-fallback: var(--background-fallback-lm);
	--input-bg: var(--input-bg-lm);
	--container-bg: var(--container-bg-lm);
	--text: var(--text-lm);
	--gradient-button: var(--gradient-button-lm);
	--gradient-button-180deg: var(--gradient-button-180deg-lm);
	--dropdown-box-shadow: var(--dropdown-box-shadow-lm);
	--volume-slider: var(--volume-slider-lm);
	--chat-background: var(--chat-background-lm);
	--header-background: var(--header-background-lm);
}

.dark {
	--theme-color: var(--theme-color-dm);
	--theme-color-secondary: var(--theme-color-secondary-dm);
	--theme-color-opacity: var(--theme-color-opacity-dm);
	--background: var(--background-dm);
	--background-fallback: var(--background-fallback-dm);
	--input-bg: var(--input-bg-dm);
	--container-bg: var(--container-bg-dm);
	--text: var(--text-dm);
	--gradient-button: var(--gradient-button-dm);
	--gradient-button-180deg: var(--gradient-button-180deg-dm);
	--dropdown-box-shadow: var(--dropdown-box-shadow-dm);
	--volume-slider: var(--volume-slider-dm);
	--chat-background: var(--chat-background-dm);
	--header-background: var(--header-background-dm);
}

%flex-complete-center-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

%flex-complete-center-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

%video-page-button {
	background-color: var(--theme-color-secondary);
	color: #ffffff;
	background-image: var(--gradient-button-180deg);
	text-transform: uppercase;
	margin-left: 10px;
	font-weight: 600;
}

%video-page-input {
	text-size-adjust: 100%;
	box-sizing: inherit;
	outline: none;
	margin: 0;
	border: none;
	font-family: inherit;
	line-height: 35px;
	background: var(--input-bg);
	color: var(--text);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	padding: 0 15px;
	flex-grow: 1;

	&::placeholder {
		color: var(--text);
	}
}

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: var(--background);
	background-color: var(--background-fallback);
}

button {
	cursor: pointer;
	border-radius: 5px;
}

button,
input {
	border: none;

	&:focus {
		outline: none;
	}
}

.header {
	background-color: var(--header-background);
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0 20px;
	box-sizing: border-box;

	.logo {
		width: 45px;
		cursor: pointer;
	}

	.settings-button {
		width: 30px;
		height: 30px;
		background-color: var(--theme-color);

		svg {
			vertical-align: middle;
			width: 20px;
		}
	}

	.dropdown {
		position: absolute;
		top: 65px;
		right: 20px;
		width: 300px;
		border-radius: 10px;
		padding: 15px;
		box-sizing: border-box;
		background-color: #ffffff;
		border: 2px solid var(--theme-color);
		box-shadow: var(--dropdown-box-shadow);
		z-index: 2;
		animation: fadeIn ease 0.3s;

		@keyframes fadeIn {
			0% {
				opacity: 0;
				top: 60px;
			}
			100% {
				opacity: 1;
				top: 65px;
			}
		}

		@keyframes fadeOut {
			0% {
				opacity: 1;
				top: 65px;
			}
			100% {
				opacity: 0;
				top: 60px;
			}
		}

		span {
			display: flex;
			align-items: center;
			margin-bottom: 5px;

			svg {
				margin-right: 5px;
				width: 22px;
			}
		}

		.volume-range-slider {
			-webkit-appearance: none;
		}

		.volume-range-slider:focus {
			outline: none;
		}

		.volume-range-slider::-webkit-slider-runnable-track {
			background: var(--volume-slider);
			height: 5px;
			border-radius: 5px;
		}

		.volume-range-slider::-moz-range-track {
			background: var(--volume-slider);
			height: 5px;
			border-radius: 5px;
		}

		.volume-range-slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 12px;
			width: 12px;
			background: var(--theme-color);
			margin-top: -4px;
			border-radius: 50%;
			cursor: pointer;
		}

		.volume-range-slider::-moz-range-thumb {
			height: 15px;
			width: 15px;
			background: var(--theme-color);
			margin-top: -5px;
			border-radius: 50%;
		}
	}

	.roomId-code-container {
		@extend %flex-complete-center-row;
		margin-left: auto;
		margin-right: 10px;
		border-radius: 10px;

		button {
			width: 30px;
			height: 30px;
			margin-left: 10px;
			background-color: var(--theme-color);

			img {
				vertical-align: middle;
				width: 20px;
			}
		}
	}

	.show-connected-roomId-input {
		height: 30px;
		padding: 6px 10px;
		border-radius: 5px;
		border: 2px solid transparent;
		cursor: pointer;
		font-size: 0.9em;
		background-color: var(--theme-color-opacity);
		box-shadow: rgba(50, 50, 93, 0.05) 0px 30px 60px -5px inset,
			rgba(0, 0, 0, 0.1) 0px 18px 36px -8px inset;
		color: #ffffff;
		box-sizing: border-box;

		&:hover {
			border: 2px solid var(--theme-color);
		}
	}

	h3 {
		color: var(--theme-color);
		font-size: 1.05em;
		&:not(:first-of-type) {
			margin-top: 15px;
		}
	}

	p {
		color: #303030;
		font-size: 0.95em;
	}

	.settings-option-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:not(:last-of-type) {
			margin-bottom: 15px;
		}

		button {
			height: 30px;
			width: 95px;
			display: flex;

			span {
				flex-grow: 1;
				height: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				color: #303030;

				&.toggled {
					background-color: var(--theme-color);
					color: #ffffff;
				}
			}
		}
	}
}

.app-component {
	max-height: calc(100% - 70px);
	height: 100%;
}

.loading-screen {
	@extend %flex-complete-center-column;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: var(--container-bg);
	color: var(--text);

	h1 {
		margin-bottom: 35px;
		font-size: 1.3em;
		text-align: center;
	}

	.loading-balls {
		width: 3.5em;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}

	.loading-balls div {
		width: 0.8em;
		height: 0.8em;
		border-radius: 50%;
		background-color: var(--text);
		transform: translateY(-100%);
		animation: wave 0.8s ease-in-out alternate infinite;
	}

	.loading-balls div:nth-of-type(1) {
		animation-delay: -0.4s;
	}

	.loading-balls div:nth-of-type(2) {
		animation-delay: -0.2s;
	}

	@keyframes wave {
		from {
			transform: translateY(-100%);
		}
		to {
			transform: translateY(100%);
		}
	}
}

.join-page,
.room-page,
.not-found-page {
	@extend %flex-complete-center-column;
	height: 100%;
}

.room-page {
	padding: 20px;
	box-sizing: border-box;
}

.floating-action-button {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 10px;
	left: 10px;
	border-radius: 50%;
	background-color: #ffffff;

	svg {
		width: 30px;
		height: 30px;
	}
}

.not-found-page {
	color: #ffffff;
	text-align: center;

	h1 {
		font-size: 8em;
	}

	h3 {
		font-size: 1.8em;
	}

	p {
		font-size: 1.2em;
		margin-top: 10px;
	}

	button {
		background-color: #4158d0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-top: 20px;

		svg {
			vertical-align: middle;
		}
	}
}

.join-page {
	.join-form-container {
		max-width: 450px;
		width: 95%;
		height: 350px;
		background-color: var(--container-bg);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		padding: 20px 40px;
		box-sizing: border-box;
		border-radius: 10px;

		&.show-only-name-input {
			height: 220px;
		}

		form {
			justify-content: center;
			display: flex;
			flex-direction: column;
			height: 100%;
			line-height: normal;

			label {
				color: var(--text);
			}

			input {
				background-color: var(--input-bg);
				color: var(--text);
				height: 30px;
				border-radius: 2px;
				margin-top: 2px;
				padding: 0 10px;
				border-bottom: 2px solid transparent;

				&:not(:last-of-type) {
					margin-bottom: 10px;
				}

				&:focus {
					border-bottom: 2px solid var(--theme-color-secondary);
				}
			}

			.generate-random-roomId-button {
				padding: 8px;
				background-color: transparent;
				color: #ec3160;
				font-size: 0.95em;
				margin-bottom: 15px;
				border: 1px solid#ec3160;

				&:hover {
					background-color: #ec3160;
					color: #ffffff;
				}
			}

			.join-button {
				margin-top: 15px;
				padding: 10px;
				background-image: var(--gradient-button);
				color: #ffffff;
				font-size: 0.95em;
			}
		}
	}
}

.video-and-chat-container {
	@extend %flex-complete-center-row;
	max-height: 100%;
	height: 750px;
	width: 100%;
	max-width: 95%;
	border-radius: 10px;
	box-sizing: border-box;
}

.video-and-input-container {
	background-color: var(--container-bg);
	padding: 15px;
	border-radius: 10px 0 0 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	max-height: 740px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;

	&[data-chatishidden='true'] {
		border-radius: 10px 10px 10px 10px;
	}

	input {
		@extend %video-page-input;
	}

	button {
		@extend %video-page-button;
		height: 35px;
		width: 180px;
		padding: 0 20px;
	}
}

.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive iframe,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.change-video-container {
	justify-content: space-between;
	margin-top: 10px;
	display: flex;
}

.users-list-container {
	height: 180px;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	background-color: var(--chat-background);
	border-radius: 5px;

	h3 {
		color: #ffffff;
		background-color: #23da90;
		padding: 4px;
		border-radius: 5px;
		text-indent: 10px;
		text-transform: uppercase;
		font-size: 1em;
	}

	ul {
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
		max-height: calc(100% - 40px);
		margin-top: 10px;
		width: 100%;

		&::-webkit-scrollbar {
			width: 4px;
			background-color: #e0e0e0;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--theme-color);
			border-radius: 5px;
		}
	}

	li {
		display: flex;
		align-items: center;
		padding: 5px 0;
		color: var(--text);

		&:not(:last-of-type) {
			margin-bottom: 5px;
		}

		&[data-isadmin=true] {
			color: #f5587b;
			font-weight: 700;
		}

		h4 {
			margin-right: 4px;
			font-weight: 700;
		}

		svg {
			margin-right: 3px;
			width: 20px;
		}

		.add-user-button {
			background-color: transparent;
		}
	}
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 740px;
	padding: 15px 10px;
	max-width: 300px;
	min-width: 200px;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--container-bg);
	border-radius: 0 10px 10px 0;
}

.messages-container {
	flex-grow: 1;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--chat-background);
	padding: 10px;
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	position: relative;

	&::-webkit-scrollbar {
		width: 4px;
		background-color: #e0e0e0;
		border-radius: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--theme-color);
		border-radius: 5px;
	}
}

.new-messages-alert {
	@extend %flex-complete-center-row;
	background-color: #22eaaa;
	color: #ffffff;
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	padding: 6px 0;
	box-sizing: border-box;
	border-radius: 0 0 5px 5px;
	text-align: center;
	font-weight: 600;
	cursor: pointer;

	img {
		margin-left: 10px;
		width: 26px;
	}
}

.message-input-container {
	display: flex;
	width: 100%;
	margin-top: 10px;

	input {
		@extend %video-page-input;
	}

	button {
		@extend %video-page-button;
		padding: 10px 20px;
	}
}

.message {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px;
	white-space: normal;
	word-wrap: break-word;
	color: var(--text);
	font-size: 1em;

	.message-author {
		margin-right: 5px;
		color: #17b978;

		&[data-you='true'] {
			color: #ff5959;
		}
	}
}

%SERVER_MESSAGE {
	display: block;
	font-weight: 600;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 1em;
	margin: 10px 0;

	&:first-of-type {
		margin-top: 0;
	}
}

.SERVER_USER-JOINED {
	@extend %SERVER_MESSAGE;
	color: #23da90;
	background-color: #41e0a152;
}

.SERVER_USER-LEFT {
	@extend %SERVER_MESSAGE;
	color: #833c34;
	background-color: #f58c7e;
}

.NEW_HOST {
	@extend %SERVER_MESSAGE;
	color: #ffffff;
	background-color: #ec570d;
}

@media (max-width: 1025px) {
	.video-and-chat-container {
		height: 550px;
	}
}

@media (max-width: 800px) {
	.room-page {
		padding: 0;
	}

	.video-and-chat-container {
		flex-direction: column;
		height: 100%;
		max-width: 100%;
		box-sizing: border-box;
	}

	.video-and-input-container {
		border-radius: 0;
		padding: 5px;
	}

	.chat-container {
		max-width: 100%;
		border-radius: 0;
		max-height: 50vh;
	}
}
